<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cluster</title>
</head>
<body>
<table border=1>
    {% for r in data%}
    <tr>
        <td>{{r["time"]}}</td>
        <td>{{r["latitude"]}}</td>
        <td>{{r["longitude"]}}</td>
        <td>{{r["depth"]}}</td>
        <td>{{r["mag"]}}</td>
        <td>{{r["magtype"]}}</td>
        <td>{{r["nst"]}}</td>
        <td>{{r["gap"]}}</td>
        <td>{{r["dmin"]}}</td>
        <td>{{r["rms"]}}</td>
        <td>{{r["net"]}}</td>
        <td>{{r["id"]}}</td>
        <td>{{r["updated"]}}</td>
        <td>{{r["place"]}}</td>
        <td>{{r["type"]}}</td>
        <td>{{r["horizontal"]}}</td>
        <td>{{r["deptherror"]}}</td>
        <td>{{r["magrerror"]}}</td>
        <td>{{r["magnst"]}}</td>
        <td>{{r["status"]}}</td>
        <td>{{r["location"]}}</td>
        <td>{{r["magsource"]}}</td>
    </tr>
    {%endfor%}
</table>
<h4>Count:{{count}}</h4>
<h4>Count of Max EarthQuake among all grids:{{max}}</h4>
<h4>Grid where the Maximum value is found:{{imax}}</h4>
<h4>Value of Latitude of Max Value:{{latm}}</h4>
<h4>Value of Longitude of Max Value:{{lonm}}</h4>
</body>
</html>
</body>
</html>